<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <title>Le Kelner | <%= embedTitle %></title>
    <meta
      name="viewport"
      content="width=device-width,
    initial-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="/lekelner/styles" />
    <meta charset="utf-8" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="<%= embedTitle %>" />
    <meta
      name="description"
      content="Attention. Ce wesbite n'est pas un wesbite sur le cyclimse."
    />

    <!-- Open Graph / Facebook -->
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://erzender.freeboxos.fr/lekelner/" />
    <meta property="og:title" content="<%= "Le Kelner | " + embedTitle %>" />
    <meta
      property="og:description"
      content="<%= embedDesc %>"
    />
    <meta property="og:image" content="<%- embedImage -%>" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta
      property="twitter:url"
      content="https://erzender.freeboxos.fr/lekelner/"
    />
    <meta property="twitter:title" content="<%= embedTitle %>" />
    <meta
      property="twitter:description"
      content="<%= embedDesc %>"
    />
    <meta property="twitter:image" content="h<%- embedImage -%>" />
  </head>

  <body>
    <% if (route === "404") { %> <%- include ('error') %> <% } %>
    <% if (route === "edifice") { %> <%- include ('resources/edifice') %> <% } %>
    <% if (route === "edificeEdit") { %> <%- include ('resources/edificeEdit') %> <% }%>
    <% if (route === "art") { %> <%- include ('resources/art') %> <% } %>
    <% if (route === "artEdit") { %> <%- include ('resources/artEdit') %> <% }%>
    <% if (route === "region") { %> <%- include ('resources/region') %> <% } %>
    <% if (route === "player") { %> <%- include ('resources/player') %> <% }%>
    <% if (route === "playerEdit") { %> <%- include ('resources/playerEdit') %> <% }%>
    <% if (route === "nation") { %> <%- include ('resources/nation') %> <% }%>
    <% if (route === "nationEdit") { %> <%- include ('resources/nationEdit') %> <% }%>
    <% if (route === "command") { %> <%- include ('resources/command') %> <% }%>
  </body>
</html>
