<div style="display: flex; flex: 1; align-items: center; justify-content: center; flex-direction: column;">
    <div style="display: flex; flex-direction: column; align-items: center">
        <form method="post" action="/login" style="display: flex; flex-direction: column; align-items: center; justify-content: center;">
            <%= T("Username") %>:
            <input name="username" style="margin: 10px; text-align: center" />
            <%= T("Password") %>:
            <input name="password" style="margin: 10px; text-align: center" type="password" />
            <button type="submit"><%= T("Connect") %></button>
            <div style="color: red;"><%= T(message) %></div>
        </form>
        <a href="/register"><%= T("New account") %></a>
    </div>
</div>