<div
  style="margin-left: auto; margin-right: auto; width: 1000px; max-width: 100%;"
>
  <a style="text-decoration: none;" href="<%- "./" + edifice.id -%>"><h1 style="color: cadetblue;">🏠<%= edifice.name %></h1></a>
  <% if (edifice.pic.length > 0) { %><img
    src="<%- edifice.pic -%>"
    style="width: 100%;"
  /><% } %>
  <a
    href="/lekelner/explorer/joueurs/<%= edifice.Creator.dataValues.discord %> "
    style="display: flex; flex-direction: row; font-size: 14; align-items: center;"
  >
    <img class="miniProfile" src="<%- edifice.playerPicture -%>" />
    <b><%= edifice.Creator.dataValues.minecraft %></b>
  </a>
  <div>📜Région : <a style="font-weight: bold;" href="<%- "/lekelner/explorer/regions/" + edifice.region.key -%>"><%=edifice.region.n %></a></div>
  <div style="border-left: 3px solid gray; padding-left: 5px">
    <% edifice.desc.forEach(function(desc){ %>
    <p><%= desc %></p>
    <% }); %>
  </div>
  <a style="display: flex; font-weight: bold; width: 100px; justify-content: center; background-color: cadetblue; margin-bottom: 10px; margin-top: 10px; padding: 5px; text-decoration: none;" href="<%- edifice.edit -%>">
    Modifier ✍
  </a>
  <%- include ('mastodon') %>
</div>
