<% if (mastodon !== null) { %>
    <hr style="margin-top: 50px;" />
    <a style="display: flex; flex-direction: row; font-weight: bold; text-decoration: none;" target="_blank" href="<%- mastodon.origin -%>">Commentaires (↗ voir le post original) <img style="width: 100px; margin-left: 5px;" src="https://docs.joinmastodon.org/brand.svg" /></a>
    <a class="ax" style="width: 280px; background-color: #3088D4;" target="_blank" href="<%- mastodon.reply -%>">
      FAIRE UN COMMENTAIRE ✍
    </a>
    <% mastodon.comments.forEach(function(comment){ %>
      <div style="width: 400px; background-color: #333333; padding: 10px; margin-top: 5px;">
          <div style="font-weight: bold; color: #3088D4;"><%= comment.username %></div>
          <%= comment.acct %>
          <%- comment.content %> 
      </div>
    <% }); %>
<% } %>